.scrollbar-hide {
  /* For Firefox */
  scrollbar-width: none;
  /* For other browsers */
  -ms-overflow-style: none;
  /* For Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(360deg);
  white-space: nowrap;
}
li a {
  text-decoration: none !important;
}
li a:hover {
  text-decoration: none !important;
  color: yellow !important;
}
.card {
  background-color: #24242e !important;
  border: 1px solid #302f2f;
 
}
.popupform{
    background-color: #24242e !important;
  border: 1px solid #302f2f;
}

.card {
  transition: box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.card {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.card:hover {
  opacity: 0.8;
}

/* header */
.header{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 20px;
}

.header img{
  border-left: 10px solid #FFD700 !important;
  border-bottom: 10px solid #FFD700 !important;
  box-shadow: 0px 0px 10px #FFD700;
}

.header p{
  
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 22px;
  
}

/* education */
.education p{
  
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
  
}

/* 
sidebar  */
.sidebar h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.sidebar li{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}

.certificates h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.certificates p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}

.about h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-weight: bold;
}

.about {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 20px;
}
.about p{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 20px;
  
}

/* education */

.education p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}

.education h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
}
.education .btn {
  background: rgb(172, 172, 65) !important;
}

/* work experience */
.Work li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}
.Work p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 20px;
}

.work h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
}

/* home */
.projects a {
  text-decoration: none !important;
}
.projects p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}

.projects h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
}


/* contact */
.contact {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}


.Header-text{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 50px;
  font-weight: bolder;
}


.random-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 24px;
}



 .button-container {
            display: flex;
            
        }

        .button {
            width: 120px;
            margin: 0 10px; 
        }

        @media screen and (max-width: 600px) {
            .button-container {
                justify-content: center;
                width: 100%; 
            }
        }



/* Media query for smaller screens like smartphones */
@media (max-width: 768px) {
  .random-text{
    text-align: center; /* Center-align the text on smaller screens */
  }
  .Header-text{
    text-align: center; 
    margin-top: 0 !important;
  }
  .student-text{
    text-align: center; 
    margin-top: 0 !important;
  }

  .header{
    padding: 2px !important;
    background: transparent !important;
  }
 
 
}

@media (max-width: 768px) {
  ul {
    list-style-type: none; 
    list-style: none !important;
    padding: 0; 
    margin: 0; 
}

li {
    list-style: none !important;
    margin: 0; 
    padding: 0; 
}
 
}


/* projects */
.linksBtn{
  background-color: #FFD700 !important;
  width: 100px !important;
  text-align: center;
}

.resumeBtn{
  border: 1px solid white;
  border-radius: 5px !important;
}

.card-body h4 {
 color: #FFD700 !important;
}

.project-card img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

