.scrollbar-hide {
  /* For Firefox */
  scrollbar-width: none;
  /* For other browsers */
  -ms-overflow-style: none;
  /* For Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 0.25rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(360deg);
  white-space: nowrap;
}
li a {
  text-decoration: none !important;
}
li a:hover {
  text-decoration: none !important;
  color: yellow !important;
}
.card {
  background-color: #24242e !important;
  border: 1px solid #302f2f;
 
}
.popupform{
    background-color: #24242e !important;
  border: 1px solid #302f2f;
}

.card {
  transition: box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.card {
  transition: opacity 0.2s ease;
  opacity: 1;
}

.card:hover {
  opacity: 0.8;
}

/* header */
.header{
  
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 20px;
  
}

.header p{
  
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 22px;
  
}

/* education */
.education p{
  
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
  
}

/* 
sidebar  */
.sidebar h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.sidebar li{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}

.certificates h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.certificates p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}

.about h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-weight: bold;
}

.about {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 20px;
}
.about p{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 20px;
  
}

/* education */

.education p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}

.education h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
}
.education .btn {
  background: rgb(172, 172, 65) !important;
}

/* work experience */
.Work li {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}
.Work p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 20px;
}

.work h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
}

/* home */
.projects a {
  text-decoration: none !important;
}
.projects p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}

.projects h3 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
}


/* contact */
.contact {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
}


.Header-text{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 50px;
  font-weight: bolder;
}


.random-text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 24px;
}



 .button-container {
            display: flex;
            
        }

        .button {
            width: 120px;
            margin: 0 10px; /* Add some spacing between buttons */
        }

        @media screen and (max-width: 600px) {
            .button-container {
                justify-content: center;
                width: 100%; /* Center the container and make it full width on smaller screens */
            }
        }



/* Media query for smaller screens like smartphones */
@media (max-width: 768px) {
  .random-text{
    text-align: center; /* Center-align the text on smaller screens */
  }
  .Header-text{
    text-align: center; 
    margin-top: 0 !important;
  }
  .student-text{
    text-align: center; 
    margin-top: 0 !important;
  }

  .header{
    padding: 2px !important;
    background: transparent !important;
  }
 
 
}

@media (max-width: 768px) {
  ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

li {
    margin: 0; 
    padding: 0; 
}
 
}


/* projects */

.preview-card {
  position: relative;
  margin: 15px;
  background: #24242e;
  box-shadow: 0px 3px 10px rgba(34, 35, 58, 0.2);
  padding: 30px 25px 30px;
  border-radius: 25px;
  border: 1px solid #302f2f;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .preview-card {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .preview-card {
    min-height: 500px;
    height: auto;
    margin: 110px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .preview-card {
    height: auto;
    width: auto;
    
  }
  
}

.preview-card__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .preview-card__item {
    flex-direction: column;
  }
}

.preview-card__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}

.preview-card__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}

.preview-card__img {
  width: auto;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #000 0%, #000 74%);
  box-shadow: 0px 3px 10px 1px #535351;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.preview-card__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, #000 0%, #000 74%);
  border-radius: 20px;
  opacity: 0.4;
}

.preview-card__img img {
  width: auto;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .preview-card__img {
    transform: translateY(-50%);
    width: auto;
  }
}

@media screen and (max-width: 576px) {
  .preview-card__img {
    width: auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .preview-card__img {
    height: 270px;
  }
}

.preview-card__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .preview-card__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .preview-card__content {
    padding: 0;
  }
}

.preview-card__content > * {
  transform: translateY(25px);
  transition: all 0.4s;
}

.preview-card__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.preview-card__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
@media screen and (max-width: 360px) {
 .preview-card__title {
  margin-top: -55px;
  margin-bottom: 20px;
}
.preview-card__button {
  width: 100px;
 
}
}


.preview-card__text {
  margin-bottom: 30px;
  line-height: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.3px;
  font-size: 18px;
  overflow: hidden; 
  text-overflow: ellipsis;
  
}


.preview-card__button {
  display: inline-flex;
  border-bottom: 1px solid #24242e;
  padding: 10px 35px;
  margin-bottom: 30px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0px 3px 10px #24242e;
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

.preview-card__button:hover {
  color: #989898;
  text-decoration: none;
}
